* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 75px;
}

header {
  text-align: center;
  margin-top: 100px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 1.5em;
text-decoration: underline;
color: rgba(0, 0, 0, 0.411);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(223, 240, 253);
}

section {
  border: 0;
}

section.dramatis {
  width: 50%;
  background-color: rgb(252, 252, 245);
  margin: 22px auto;
  padding: 2em;
  text-align: center;
}

.character-group {
  color: lightsteelblue;
}

.play_location {
  color: lightsteelblue;
}

section.play {
  width: 70%;
  background-color: rgb(252, 252, 245);
  margin: 22px auto;
  margin-top: 100px;
  padding: 2em;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

figure {
 width: 70%;
 flex-basis: 300px;
 max-width: 500px;
 float: right;
}

img {
 width: 100%;
 margin: 10px;
}

.captions {
  margin-top: -.5em;
  text-align: right;
  color: rgb(100, 100, 100);
  font-style: italic;
}

h1.act {
  background-color: lightsteelblue;
  color: rgb(252, 252, 245);
  text-align: center;
  padding: 8px;
  font-size: 2em;
  
}

p.character-group {
  font-weight: bold;
}

h1.dramatishead {
  background-color: lightsteelblue;
  color: rgb(252, 252, 245);
  text-align: center;
  padding: 8px;
  font-size: 2em;
  
}

h2.location {
  font-weight: normal;
  font-style: italic;
  font-size: 135%;
  text-align: center;
  margin-top: 1em;
}

p.play_location {
  font-weight: bold;
  font-style: italic;
  font-size: 120%;
  margin-top: 1em;
  text-align: center;
}

p.prose {
  padding-right: 30%;
}

.firstscene, .scene {
text-align: center;
margin-top: .5em;
font-size: 1.8em;
background-color: cadetblue;
color: rgb(252, 252, 245);
}

p.song {
  padding-left: 5%;
  font-style: italic;
}

h2.stagedirection {
  font-weight: normal;
  font-style: italic;
  font-size: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-right: 30%;
}
.verseline {
  margin: 0 0 0.4em 8em;
}

p.prose {
  margin: 0 0 0.4em 8em;
}

span.stage_directions_inline {
  font-weight: normal;
  font-style: italic;
  font-size: 100%;
}

.character_beforespeech {
  display: block;
  position: relative;
  left: -8em;
  top: 1em;
  width: 4em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: verdana, sans-serif;
  margin: 2em;
  padding: 0;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #5f9ea0ce;
  font-size: large;
}

.home {
  margin-right: auto;
  font-size: x-large;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: rgb(252, 252, 245);
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}

nav ul li {
  flex: 0 0 10rem;
  text-align: center;
  
}

nav ul li a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  color: rgb(252, 252, 245);
}

nav ul li:hover {
  background-color: rgb(8, 119, 126);
 
}
nav ul li a:hover {
  color: rgb(252, 252, 245);
  
}

li ul {
  display: none;
  position: absolute;
  background-color: cadetblue;
 
}

nav ul li:hover ul {
  display: flex;
  flex-direction: column;
}

nav ul li ul li {
  flex: 0 1 auto;
  width: 10rem;
}

@media screen and (max-width: 550px) {
  header{
    font-size: 100%;
  }
  
  figure {
    width: 150px;
  }

  nav ul {
    display: none;
    flex-direction: column;
  }

  .hamburger {
    display: block;
    float: right;
    cursor: pointer;
  }

  input[type="checkbox"]:checked ~ ul {
    display: block;
  }

  li ul {
    position: static;
    background-color: rgb(180, 218, 219);
  }

  nav ul li {
    flex: 0 0 auto; 
    width: 100%;
  }

  section.play {
    padding: 0em;
    font-size: x-small;
  }

  section.dramatis {
    padding: 0em;
    font-size: x-small;
  }

  html {
    scroll-padding-top: 300px;
    scroll-behavior: smooth;
  }

  .backtotop a {
    font-size: 0.5em;
  }
  
}

.lastlineinverse {
font-style: italic;
  font-size: xx-large;
text-align: center;
font-family: brush Script MT;
}

.backtotop {
  position: fixed;
  bottom: 5px;
  right: 7%;
  font-size: 6em;
  opacity: 0.9;
  text-shadow: 2px 2px 5px black;
}

.backtotop a {
  text-decoration: none;
color: rgb(92, 43, 226);
}

.backtotop a:hover {
  color: rgb(200, 167, 253);
  text-shadow: none;
}

